<div class="container">
  <h1>Welcome to JS racer</h1>
  <p>Hello, Racers</p>

  <form action = "/signup" method = "post">
    Name
  <input type = "text" name = "name"><br>
  Password
  <input type = "password" name = "password">
  <input type = "submit" value = "Sign up here">
  </form>
  
  <a href ="/login">Login here</a>

</div>
